---
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
import BlogList from "../components/BlogList.svelte";
const allBlogPosts = await getCollection('posts');

const posts =  allBlogPosts.sort((a, b) => a.data.date < b.data.date ? -1 : 1);

// adding the amount of days between each post to the data
let previous = posts[0];
for (let i = 1; i < posts.length; i++) {
  const post = posts[i];
  const diff = post.data.date.getTime() - previous.data.date.getTime();
  const days = Math.round(diff / (1000 * 60 * 60 * 24));
  previous.data.daygap = days;
  previous = post;
}
posts[posts.length - 1].data.daygap = undefined;

for (let i = 0; i < 500; i++) {
  posts.push(posts[i%posts.length]);
}
---

<Layout horizontalScroll>
  <main>
    <BlogList posts={posts} />
  </main>
</Layout>

<style>
  main {
    margin-top: 5rem;
  }
</style>