---
import Layout from "../layouts/Layout.astro";
---

<Layout calls="parallax">
  <main>
    <h1>Welcome to Main Page</h1>
    <img src="/design/island.png" alt="island" class="island" data-scroll-parallax="-0.5" />
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
    <h1>Hi</h1>
  </main>
</Layout>

<style>
  .island {
    max-width: 15rem;
    max-height: 15rem;
    position: absolute;
    top: 50%;
    z-index: -1;
  }
</style>
