<div class="post-display-wrap">
    <div class="post-display">
        <p class="date">Date</p>
        <p class="content">Content</p>
    </div>
</div>

<script>
    const wrap = document.querySelector('.post-display-wrap') as HTMLElement;

    function showPost(post: Element) {
        // grabbing the title
        const title = post.querySelector('h2') as HTMLElement;
        // getting the needed translation
        const { x, y } = title.getBoundingClientRect();
        const { x: x2, y: y2 } = wrap.getBoundingClientRect();
        console.log({ x, y, x2, y2 });
        const delta = { x: x - x2, y: y - y2 };
        title.style.transform = `translate(${delta.x}px, ${delta.y}px)`;
    }

    const posts = document.getElementsByClassName('post');
    for (let i = 0; i < posts.length; i++) {
        posts[i].addEventListener('click', () => {
            showPost(posts[i]);
        });
    }
</script>

<style lang="scss">
    $pad-x: 2rem;
    $pad-y: 5rem;
    .wrap {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        padding: 5rem 2rem;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .post-display {
        width: 100%;
        height: 100%;
        background-color: var(--bg);
        border-radius: 5px;
        padding: 10px;
    }
</style>