---
const { title, imgURL } = Astro.props;
---

<h3>{title}</h3>
<div class="layout">
	<p>
		<slot />
	</p>
	<div class="img" data-scroll-parallax="0.2">
		<img src={imgURL} alt="">
	</div>
</div>

<style>
    h3 {
        font-size: 2rem;
        position: absolute;
        top: 20rem;
        left: 10rem;
        transition: transform 500ms ease-in-out;
    }
    :global(.wrapper.highlight > h3) {
		transform: translate3d(-1rem, -16rem, 0) scale(2);
    }

	.layout {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}
	@media (max-width: 1000px) {
		h3 {
			top: 20rem;
			left: 6rem;
		}
		.layout {
			flex-direction: column;
			align-items: center;
		}
		.img {
			width: 80%;
			margin-top: 5rem;
		}
		img {
			width: 100% !important;
		}
	}

    p {
        font-size: 1.6rem;
        padding: 2rem;
        width: min(100%, 40rem);
        opacity: 0;
        transition: opacity 500ms ease-in-out;
    }
    :global(.wrapper.highlight p) {
        opacity: 1;
        transition-delay: 500ms;
    }
    img {
		width: 35vw;
		height: auto;
		transform: scale(0);
        transition: transform 500ms ease-in-out;
    }
    :global(.wrapper.highlight img) {
		transform: scale(1);
        transition-delay: 500ms;
    }
</style>