* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Cinzel';
    src: url('/fonts/Cinzel-Regular.ttf');
}
:root {
    --bg: #15141a;
}

html {
    background-color: var(--bg);
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

html,
body {
    height: 100vh;
}