---
interface NavigationItem {
  title: string;
  url: string;
  warmTitle: string;
}

export interface Props {
  lang: string;
}

export let lang = "fr";
export let setLang = (newLang: string) => {
  lang = newLang;
}

export const enNavigation: NavigationItem[] = [
  {
    title: "Home",
    url: "/en/",
    warmTitle: "Who are we?"
  }
]
export const frNavigation: NavigationItem[] = [
  {
    title: "Accueil",
    url: "/",
    warmTitle: "Qui sommes-nous ?",
  },
  {
    title: "Blog",
    url: "/blog/",
    warmTitle: "Notre frise chronologique",
  },
  {
    title: "Telecharger",
    url: "/telecharger/",
    warmTitle: "Telecharger nos fichiers",
  },
  {
    title: "Wiki",
    url: "/wiki/",
    warmTitle: "Encyclopedie Hermita",
  },
  {
    title: "Credits",
    url: "/credits/",
    warmTitle: "A l'aide de ...",
  }
]

export const navigation = () => {
  return lang === "fr" ? frNavigation : enNavigation;
}
---

<nav>
  {
    navigation().map((item) => (
      <a
        href={item.url}
        class:list={{ active: item.url === Astro.url.pathname }}
      >
        {item.title}
      </a>
    ))
  }
</nav>

<style>
  nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
    font-size: 1.2rem;
    font-weight: 300;
    overflow: hidden;
  }
  a {
    margin-left: 4rem;
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    font-family: var(--normal);
    color: var(--text);
    text-transform: uppercase;
    transition: transform 500ms;
    transform-origin: 0 50%;
    transform: scale(0);
  }
  :global(.grid.nav-open) nav > a {
    transform: scale(1);
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  a:where(.active, :hover)::before {
    position: absolute;
    content: ">";
    transform: translateX(-1.5rem);
  }
  a:where(.active)::before {
    animation: blink 1s infinite;
  }
</style>