---
export interface Props {
  isHorizontal?: boolean;
  calls?: string;
}

const { isHorizontal, calls } = Astro.props;
---

<div id="scroll-container" class:list={{horizontal: isHorizontal, vertical: !isHorizontal}} data-scroll-calls={calls}>
    <div id="scroll-content">
        <slot />
    </div>
</div>


<script>
    import { scroll } from '../scripts/scroll';
    const container = document.querySelector('#scroll-container') as HTMLElement;
    const calls = container.getAttribute('data-scroll-calls') as string;
    scroll.init(calls);
</script>

<style>
    #scroll-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    #scroll-content {
        min-width: 100%;
        width: fit-content;
    }

    .vertical {
        overflow-y: auto;
        overflow-x: hidden;
    }
    .horizontal {
        overflow-x: auto;
        overflow-y: hidden;
    }
</style>