---
export interface Props {
  isHorizontal?: boolean;
}

const { isHorizontal } = Astro.props;
---

<div id="scroll-container" class:list={{horizontal: isHorizontal, vertical: !isHorizontal}}>
    <div id="scroll-content">
        <slot />
    </div>
</div>

<script>
    import { scroll } from '../scripts/scroll';
    scroll.init();
</script>

<style>
    #scroll-container {
        position: relative;
        width: 100%;
        height: 100%;
    }
    #scroll-content {
        width: fit-content;
    }

    .vertical {
        overflow-y: auto;
        overflow-x: hidden;
    }
    .horizontal {
        overflow-x: auto;
        overflow-y: hidden;
    }
</style>